.bottomLevel {
    padding-top: 70px;
}
.description {
    text-align: center;
    max-width: 600px;
    margin: 0 auto !important;
    margin-top: 10px !important;
}
.stats div[class="chart"]  {
    min-width: 700px;
}

@media screen and (max-width: 768px) {
    .chartWrapper {
        overflow-x: scroll;
    }
}
@media screen and (max-width: 575px) {
    .bottomLevel {
        padding-top: 40px;
    }
    .buttonColumn {
        padding-top: 40px;
        justify-content: flex-start !important;
    }
}
@media screen and (max-width: 450px) {
    .gridWrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}