.cta {
    overflow: hidden;
}
.cta img {
    width: auto;
}
.leftColumn {
    padding-top: 145px;
}
@media screen and (max-width: 768px) {
    .cta {
        padding-top: 0;
    }
    .rightColumn {
        order: -1;
        margin-top: -200px;
    }
    .leftColumn {
        padding-top: 55px;
    }
}
@media screen and (max-width: 450px) {
    .gridWrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .rightColumn img {
        width: 645px;
        height: 400px;
    }
    .rightColumn {
        margin-top: -110px;
    }
}