.form {
    padding-right: 30px;
}
.item {
    margin-bottom: 30px !important;
}
.dividerColumn {
    margin-bottom: 30px;
}
.dark.form label {
    color: rgba(255, 255, 255, 0.5) !important;
}
@media screen and (max-width: 991px) {
    .form {
        padding-right: 0;
    }
}
@media screen and (max-width: 575px) {
    .form label[class*="ant-checkbox-wrapper"] {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 450px) {
    .form a[class*="Button"],
    .form button[class*="Button"] {
        height: 50px !important;
        font-size: 18px !important;
    }
}