.contentRow {
    margin-top: 30px;
}

.item {
    margin-bottom: 30px;
}

.seeAll {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.4px;
    color: #345DEE;
    text-decoration: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}
.seeAll:hover {
    color: #7B95F4;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

@media screen and (max-width: 575px) {
    .right {
        justify-content: flex-start;
        margin-top: 5px;
    }
}


@media screen and (max-width: 450px) {
    .seeAll {
        font-size: 13px;
        line-height: 16px;
    }

    .gridWrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}