.card {

}

.card img {
    border-radius: 8px;
}

.card.custom {
    display: grid;
    grid-template-columns: 125px 1fr;
    grid-gap: 25px;
}

.card.custom .header {
    padding-top: 10px;
}

.card.custom .description {
    display: none;
}

.link {
    display: block;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
    outline: 0px !important;
}

.link:hover {
    opacity: 0.6;
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.header div {
    position: relative;
    padding-right: 20px;

    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: -0.4px;
    color: rgba(62, 68, 98, 0.5);
}

.header div:first-of-type:before {
    position: absolute;
    right: 7px;
    top: 7px;

    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(62, 68, 98, 0.5);
}

.title {
    margin: 5px 0 !important;
}

.description {

}

.textContent {
    padding-right: 40px;
}

/*dark*/

.dark .header div {
    color: #ffffff;
}

.dark .header div:first-of-type:before {
    background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
    .textContent {
        padding-right: 20px;
    }
}

@media screen and (max-width: 991px) {
    .card.custom .title {
        font-size: 17px !important;
    }
    .card.custom {
        grid-gap: 20px;
        align-items: center;
    }
    .card.custom .header {
        padding-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .card.custom .title {
        font-size: 20px !important;
    }
    .card.custom .description {
        display: block;
    }
    .card.custom {
        display: grid;
        grid-template-columns: 1fr;
    }
}
