.bottomLevel {
    padding-top: 70px;
}
.description {
    text-align: center;
    max-width: 600px;
    margin: 0 auto !important;
    margin-top: 10px !important;
}
.chartWrapper {
    padding: 15px;
    border: 2px solid #DFE4EA;
    border-radius: 8px;
}

/*dark*/

.dark .chartWrapper {
    border-color: #345DEE;
}

@media screen and (max-width: 991px) {
    .item {
        margin-bottom: 30px;
    }
    .item:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .chartWrapper {
        overflow-x: scroll;
    }
    .stats div[class="chart"]  {
        min-width: 450px;
    }
}
@media screen and (max-width: 575px) {
    .stats div[class*="Tabs-group"] {
        margin-top: 30px;
    }
    .bottomLevel {
        padding-top: 40px;
    }
    .buttonColumn {
        padding-top: 40px;
        justify-content: flex-start !important;
    }
}
@media screen and (max-width: 450px) {
    .gridWrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}