.aside {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;

    border: 2px solid #EFF2F6;
    box-sizing: border-box;
    border-radius: 8px;
}
.title {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 30px !important;
    letter-spacing: -0.55px !important;
    color: #18214D !important;
}
.total {
    margin: 0;
    padding: 0;

    font-family: "Inter", "Arial", sans-serif;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: -0.4px !important;
    color: #18214D !important;
    text-align: right !important;
}
.text {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 26px !important;
    letter-spacing: -0.3px !important;
    color: #3E4462 !important;
}
.header {
    padding-bottom: 14px;
}
.divider {
    margin-top: auto;
    margin-bottom: 30px;
}
.dark .wrapper {
    border: 2px solid #1D2C6B;
}
.dark.aside svg path {
    fill: #ffffff !important;
}
.dark .total {
    color: #ffffff !important;
}

@media screen and (max-width: 991px) {
    .aside,
    .wrapper {
        height: auto !important;
    }
    .aside {
        padding-top: 30px;
    }
    .divider {
        margin-top: 90px;
    }
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 20px !important;
        line-height: 27px !important;
    }
}
@media screen and (max-width: 450px) {
    .col {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media screen and (max-width: 350px) {
    .wrapper {
        padding: 20px;
    }
}