.feature {
    padding: 40px 0;
    border-bottom: 1px solid #DFE4EA;
}

.bordered {
    border-top: 1px solid #DFE4EA;
}

.description {
    margin-bottom: 20px !important;
}

.content{
    padding-right: 30px;
}

.dark {
    border-color: #1D2C6B;
}

@media screen and (max-width: 768px) {
    .description {
      padding-top: 20px !important;
    }
    .feature {
        padding: 25px 0;
    }
}

@media screen and (max-width: 575px) {
    .description {
       padding-top: 10px !important;
    }
}
