.divider {
    height: 100%;
    width: 1px;
    background-color: #DFE4EA;
}
.dark .divider {
    background-color: #121B3F;
}

@media screen and (max-width: 768px) {
    .divider {
        height: 1px;
        width: 100%;
        background-color: #DFE4EA;
    }
    .dividerColumn {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 450px) {
    .gridWrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .dividerColumn  {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

