.sliderContainer {
    padding-top: 70px;
}
.tabsRow {
    padding-top: 35px;
}
.ecommerce {
    padding-bottom: 70px;
}
.swiperPagination {
    margin-top: 30px !important;
    position: static !important;
}

.swiperPagination >  span[class*="swiper-pagination-bullet"] {
    margin: 0 4px;
}

.swiperContainer {
    position: relative;
    overflow: hidden;
}

.swiperSlide {
    background-color: transparent;
    -webkit-transform: translate3d(0, 0, 0);
    border: none;
}
.swiperSlide  a {
    display: block;
    width: 100%;
}

.swiperButtonNext,
.swiperButtonPrev {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -60px !important;
    z-index: 10;
    cursor: pointer;
    display: block;
    color: transparent;
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.swiperButtonPrev {
    left: 0;
}
.swiperButtonNext {
    right: 0;
}

@media screen and (max-width: 768px) {

    .sliderContainer {
        padding-top: 40px;
    }


}

@media screen and (max-width: 575px) {
    .swiperButtonNext,
    .swiperButtonPrev {
        display: none !important;
    }
    .ecommerce {
        padding-bottom: 30px;
    }
}





@media screen and (max-width: 575px) {
    .sliderContainer > div[class*="row"]> div[class*="col"] {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media screen and (max-width: 450px) {
    .gridWrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}