.swiperContainer {
    height: 100%;
}
.swiperWrapper {

}
.slider {
    height: 100%;
}
.swiperSlide {

}

.swiperButtonNext,
.swiperButtonPrev {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -16px;
    z-index: 10;
    cursor: pointer;
    display: block;
    color: transparent;
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.swiperButtonNext {
    right: 20px;
}
.swiperButtonPrev {
    left: 20px;
}
.swiperButtonNext:after,
.swiperButtonPrev:after {
   display: none;
}
