.product {
    margin-bottom: 40px;
}

.product div[class*="number-input"] {
    width: 150px;
    margin-top: auto;
    margin-bottom: 40px;
}

.wrapper {
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 190px auto 95px;
    grid-gap: 40px;
    grid-template-rows: 200px;
    border-bottom: 2px solid #EFF2F6;
}

.hide {
    display: none;
}

.title {}

.cover {
    height: 100%;
    border-radius: 8px;
}

.description {
    padding-top: 8px !important;
    font-size: 16px !important;
    letter-spacing: -0.2px !important;
    color: #3E4462 !important;
}

.left {}

.center, .right {
    display: flex;
    flex-direction: column;
}

.total {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.55px;
    color: #18214D;
}

.close {
    margin-left: auto;
    cursor: pointer;
}

/*dark*/

.dark .wrapper {
    border-color: #1D2C6B;
}

.dark .total,
.dark .hide {
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .product {
        margin-bottom: 30px;
    }
    .wrapper {
        padding-bottom: 30px;
        grid-template-columns: 160px auto 95px;
        grid-gap: 30px;
        grid-template-rows: 170px;
    }
    .total, .product div[class*="number-input"] {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 140px auto 95px;
    }
}

@media screen and (max-width: 575px) {
    .description {
        padding-bottom: 8px !important;
    }
    .hide {
        display: block;

        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.55px;
        color: #18214D;
    }
    .total {
        display: none;
    }
    .wrapper {
        grid-template-columns: 110px auto;
        grid-gap: 20px;
    }
    .center, .right {
        grid-column: 2/-1;
        grid-row: 1;
    }
    .close {
        margin-top: -20px;
    }
    .wrapper {
        grid-template-columns: 110px auto 95px;
    }
    .title, .description {
        font-size: 16px !important;
        line-height: 140% !important;
        letter-spacing: -0.4px !important;
    }
    .product div[class*="number-input"] {
        width: 125px;
    }
    .total {
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 140% !important;
        letter-spacing: -0.4px !important;
    }
}

@media screen and (max-width: 450px) {

}