
.swiperWrapper {
    padding-bottom: 55px;
}
.swiperPagination {
    position: static;

}

.swiperSlide {
    background-color: transparent;
    -webkit-transform: translate3d(0, 0, 0);
}

.swiperScrollbar {
    height: 6px !important;
    left: 0 !important;

    max-width: 540px !important;
    margin: 0 auto !important;
    position: static !important;
    background-color: rgba(0, 15, 67, 0.1);
    border-radius: 4px;
    cursor: pointer;
}

.swiperContainer .swiperScrollbar div[class*="swiper-scrollbar-drag"] {
    width: 160px;
    height: 6px;
    background-color: #345DEE;
    border-radius: 10px;
}

.dark .swiperScrollbar {
    background-color: #1D2C6B !important;
}

@media screen and (max-width: 991px) {
    .swiperScrollbar {
        height: 6px;
        max-width: 480px;
    }
}

@media screen and (max-width: 575px) {
    .swiperScrollbar {
        max-width: 100%;
    }
    .swiperWrapper {
        padding-bottom: 40px;
    }
}



