.pricing {
    background-color: transparent !important;
}
.inner {
    padding: 35px 30px;
    border: 2px solid #DFE4EA;
    box-sizing: border-box;
    border-radius: 8px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.description {
    padding-top: 6px !important;
}
.priceRow {
    padding-top: 30px;
}
.linksRow {
    padding-top: 30px;
}
.bottomLink {
    padding-top: 26px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #18214D !important;
    text-align: center;
    text-decoration: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: 0px !important;
}
.bottomLink:hover {
    opacity: 0.7;
}

.largeText {
    margin: 0;
    padding: 0;

    font-family: "Inter", "Arial", sans-serif;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 56px !important;
    line-height: 62px !important;
    letter-spacing: -2.4px !important;
    color: #18214D !important;
}
.dark.largeText {
    color: #ffffff !important;
}
.dark .bottomLink {
    color: #ffffff !important;
}

.dark .listContent {
    color: #ffffff !important;
}
.dark .listItem svg path {
    fill: #ffffff;
}
.list {
    margin-top: 30px;
}
.priceRow .smallText {
    padding-left: 20px !important;
}

@media screen and (max-width: 991px) {
    .inner {
        padding: 15px;
    }
    .priceRow {
        padding-top: 20px;
    }
    .largeText {
        font-size: 45px !important;
    }
}
@media screen and (max-width: 768px) {
    .largeText {
        font-size: 56px !important;
        line-height: 62px !important;
        letter-spacing: -2.4px !important;
    }
}

@media screen and (max-width: 450px) {
    .inner {
        padding: 30px;
    }
    .rightColumn {
        padding-left: 0;
    }
    .priceRow .col {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .PricingTypeThird .links-row .col-lg-12 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .list {
        margin-top: 20px;
    }
}
