
.pricing {
    padding-top: 50px;
}
.description {
    padding-top: 16px !important;
    max-width: 550px;
    margin: 0 auto !important;
}

.dark .item > div > div > div {
    border: 2px solid #1D2C6B;
}
.dark .item > div > div > div:hover {
    border: 2px solid #345DEE;
}

@media screen and (max-width: 768px) {
    .description {
        padding-top: 16px !important;
        max-width: 420px;
        margin: 0 auto !important;
    }
}
@media screen and (max-width: 450px) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pricing {
        padding-top: 20px;
    }
}
