.swiperContainer {
    overflow: hidden;
    position: relative;
}
.swiperWrapper {

}
.swiperPagination {


}

.swiperSlide {
    text-align: center;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 285px;
    padding-right: 285px;
    background-color: transparent !important;
    -webkit-transform: translate3d(0, 0, 0);
    border: none;
}

.swiperButtonNext,
.swiperButtonPrev {
    position: absolute;
    top: 50%;
    margin-top: -38px;
    width: 32px;
}
.swiperPagination {
    display: none !important;
}
.swiperButtonNext:after,
.swiperButtonPrev:after {
   display: none;
}

@media screen and (max-width: 1200px) {
    .swiperSlide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 170px;
        padding-right: 170px;
    }
}
@media screen and (max-width: 991px) {
    .swiperSlide {
        padding-left: 110px;
        padding-right: 110px;
    }
}
@media screen and (max-width: 768px) {
    .swiperSlide {
        font-size: 16px;
        line-height: 24px;
        padding-left: 75px;
        padding-right: 75px;
    }
}
@media screen and (max-width: 575px) {
    .swiperSlide {
        font-size: 16px;
        line-height: 24px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .swiperPagination {
        position: static !important;
        display: flex !important;
        margin-top: 30px !important;
    }
    .swiperButtonNext,
    .swiperButtonPrev {
        display: none !important;
    }

}
@media screen and (max-width: 450px) {
    .swiperSlide {
        padding-left: 0;
        padding-right: 0;
    }
}