.swiperContainer {
    overflow: hidden;
    position: relative;
}
.swiperWrapper {
   flex-wrap: wrap;
}
.swiperPagination {
    display: none;
}

.swiperSlide {
    text-align: left !important;
    background-color: transparent;
    -webkit-transform: translate3d(0, 0, 0);
    border: none;
}

.swiperSlide span[class*="swiper-slide-active"] {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
    .swiperSlide  {
        margin-bottom: 30px;
    }
    .swiperSlide :nth-last-child(1) {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 575px) {
    .swiperWrapper {
        flex-wrap: nowrap !important;
    }

    .swiperPagination {
        position: static !important;
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 450px) {
    .swiperSlide {

        padding-left: 0;
        padding-right: 0;
    }
}
